<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %>
    
    <!-- error message -->
    <%- messages() %> <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    
    <div class="managment">
      <!-- messages -->
      <%- messages() %>
      <h2 class="welcome-message">Welcome <%= locals.accountData.account_firstname %></h2>
      <% }
      if (locals.accountData.account_type === "Employee" ||
      locals.accountData.account_type === "Admin") { %>

      <h3 class="inventory-heading">Inventory Management</h3>
      <p class="inventory-link"><a href="/inv">Access Inventory Management</a></p>
      <% } %>
  
    
      <h3>Manage Account</h3>
      
      <p>You're Logged in</p>
      <p><a href="/account/update/<%= locals.accountData.account_id %>">Edit Account Information</a></p>

      <% if (locals.accountData.account_type === "Admin") { %>
      <p><a href="/account/update_account_type">Edit Acount Type</a></p>

    </div>