<%- messages() %> <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    
    <!-- messages -->
    <%- messages() %>
    <div class="managment">
      <h1 class="update-header">Account Information</h1>
      
      <div class="white-layer">
        <form
          class="update-account-form"
          action="/account/update-info/"
          method="POST"
        >
          <fieldset class="fieldset">
            <div>
              <label class="label" for="account_firstname">First Name:</label>
              <input
                class="input top"
                type="text"
                id="account_firstname"
                name="account_firstname"
                value="<%= locals.accountData.account_firstname %>"
                required
              />
      
              <label class="label" for="account_lastname">Last Name:</label>
              <input
                class="input top"
                type="text"
                id="account_lastname"
                name="account_lastname"
                value="<%= locals.accountData.account_lastname %>"
                required
              />
      
              <label class="label" for="account_email">Email:</label>
              <input
                class="input top"
                type="email"
                id="account_email"
                name="account_email"
                value="<%= locals.accountData.account_email %>"
                required
              />
      
              <input
                class="form-hidden"
                type="hidden"
                name="account_id"
                value="<%= locals.accountData.account_id %>"
              />
      
              <button type="submit">Update Account</button>
            </div>
          </fieldset>
        </form>
      </div>
      
      <h1 class="password-header">Change Password</h1>
      
      <div class="white-layer">
        <form
          class="update-account-form"
          action="/account/updatePassword/"
          method="POST"
        >
          <fieldset class="fieldset">
            <div>
              <label class="label" for="account_password">New Password:</label>
              <input
                class="input top"
                type="password"
                id="account_password"
                name="account_password"
                required
              />
      
              <p class="password-requirements">
                Password must be at least 8 characters long and contain at least one
                number and one special character.
              </p>
      
              <input
                class="form-hidden"
                type="hidden"
                name="account_id"
                value="<%= locals.accountData.account_id %>"
              />
              
              <button type="submit">Change Password</button>
            </div>
          </fieldset>
        </form>
      </div>
      <% if (locals.accountData.account_type === 'Admin') { %>
        <!-- Display additional section for editing account type for Admins -->
        <h1 class="account-type-header">Edit Account Type</h1>
    
        <div class="white-layer">
          <form class="update-account-form" action="/account/updateAccountType/" method="POST">
            <fieldset class="fieldset">
              <div>
                <label class="label" for="account_type">Account Type:</label>
                <input
                  class="input top"
                  type="text"
                  id="account_type"
                  name="account_type"
                  value="<%= locals.accountData.account_type %>"
                  required
                />
    
                <input
                  class="form-hidden"
                  type="hidden"
                  name="account_id"
                  value="<%= locals.accountData.account_id %>"
                />
    
                <button type="submit">Update Account Type</button>
              </div>
            </fieldset>
          </form>
        </div>
      <% } %>
    </div>