<% if (title) { %>
    <div>
        <h1 class="add-inventory-h1"><%= title %></h1>
    </div>
        <% } else { res.redirect('/') } %>
    
    <!-- messages -->
    
    <%- messages() %>
    
    <!-- Errors -->
    <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    
    <!-- Management view -->
    <!-- <%#- addInventoryView %> -->
    
    <div class="add-inventory-container">
      <form class="add-inventory" method="POST">
        <legend>*ALL FIELDS ARE REQUIRED</legend>
        <fieldset class="add-inventory-fieldset">
            <label class="add-inventory-label" for="inv_make">Make:</label>
          <%- classificationList %>
            <input class="input top" type="text" name="inv_make" id="inv_make" required pattern="[A-Za-z0-9 ]{1,}" title="Make can only contain letters, numbers, and spaces." value="<%= locals.inv_make %>" placeholder="Min of 3 characters"/>
    
            <label class="add-inventory-label" for="inv_model">Model:</label>
            <input class="input top" type="text" name="inv_model" id="inv_model" required pattern="[A-Za-z0-9 ]{1,}" title="Model can only contain letters, numbers, and spaces." value="<%= locals.inv_model %>" placeholder="Min of 3 characters"/>
    
            <label class="add-inventory-label" for="inv_year">Year:</label>
            <input class="input top" type="text" name="inv_year" id="inv_year" required pattern="\d{4}" title="Please enter a valid year." value="<%= locals.inv_year %>" placeholder="4-digit year"/>
    
            <label class="add-inventory-label" for="inv_description">Description:</label>
            <textarea name="inv_description" id="inv_description" required placeholder="A detailed description of the item" value="<%= locals.inv_description %>"></textarea>
    
            <label class="add-inventory-label" for="inv_image">Image:</label>
            <input class="input mid" type="text" name="inv_image" id="inv_image" required pattern=".*\.(png|jpg|jpeg|webp)$" title="Image must end with .png, .jpg, .jpeg, or .webp" value="/images/vehicles/no-image.png"placeholder="/images/vehicles/no-image.png"/>
    
            <label class="add-inventory-label" for="inv_thumbnail">Thumbnail:</label>
            <input class="input mid" type="text" name="inv_thumbnail" id="inv_thumbnail" required pattern=".*\.(png|jpg|jpeg|webp)$" title="Thumbnail must end with .png, .jpg, .jpeg, or .webp" value="/images/vehicles/no-image.png" placeholder="/images/vehicles/no-image.png"/>
    
            <label class="add-inventory-label" for="inv_price">Price:</label>
            <input class="input bottom" type="text" name="inv_price" id="inv_price" required pattern="\d+(\.\d{2})?" title="Please enter a valid price." value="<%= locals.inv_price %>" placeholder="Decimal or Integer" />
    
            <label class="add-inventory-label" for="inv_miles">Miles:</label>
            <input class="input bottom" type="text" name="inv_miles" id="inv_miles" required pattern="\d+" title="Miles should only contain numbers." value="<%= locals.inv_miles %>" placeholder="Digits only"/>
    
            <label class="add-inventory-label" for="inv_color">Color:</label>
            <input class="input bottom"type="text"name="inv_color" id="inv_color"required pattern="[A-Za-z ]{1,}"title="Color can only contain letters and spaces." value="<%= locals.inv_color %>"placeholder="Example: Red"/>
        </fieldset>
        <button class="inventory-submit-button" type="submit">Add Inventory Item</button>
      </form>
    </div>