<!-- views/inventory/detail.ejs -->
<%- include('../partials/header', { pageTitle: "Inventory Detail" }) %>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <img src="<%= itemDetails.inv_image %>" alt="<%= itemDetails.inv_make %> <%= itemDetails.inv_model %>" />
    </div>
    <div class="col-lg-6">
      <h1><%= itemDetails.inv_make %> <%= itemDetails.inv_model %></h1>
      <ul>
        <li>Year: <%= itemDetails.inv_year %></li>
        <li>Price: $<%= itemDetails.formattedPrice %></li>
        <li>Mileage: <%= itemDetails.formattedMiles %></li>
        <li>Description: <%= itemDetails.inv_description %></li>
        <li>Color: <%= itemDetails.inv_color %></li>
      </ul>
      <!-- Add other descriptive data here -->
    </div>
  </div>
</div>